# Set path to key file OR set GOOGLE_SERVICE_ACCOUNT with the raw JSON string (e.g. in GitHub secrets)
GOOGLE_SERVICE_ACCOUNT_KEY=project-hash.json
# GOOGLE_SERVICE_ACCOUNT='{"type": "service_account", ...}'
GOOGLE_SHEET_URL="https://docs.google.com/spreadsheets/d/SPREADSHEET_ID/edit?gid=SHEET_ID#gid=SHEET_ID"